---
layout: layout
title: Elliot Lynde
class: home
---
<div class="left">
  <ul class="post_list">
    {% for post in site.posts %}
    {% if post.draft != true %}
      <li>
        <a class="post_link" href="{{ post.url }}/">{{ post.title }}</a>
        <time datetime="{{post.date | date: "%Y-%m-%d"}}">
          {{ post.date | date: "%B %e, %Y" }}
        </time>
        <p class="post_summary">{{ post.summary }}</p>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="right">
  <div class="bio">
    <a href="/"><img class="me_image" src="/images/me.jpg" /></a>
  </div>
</div>
